{% for cls in classes %}
ip access-list extended {{ cls.acl }}
{% for line in cls.aces %}
 {{ line }}
{% endfor %}
class-map type inspect match-any {{ cls.name }}
 match access-group name {{ cls.acl }}
{% endfor %}
policy-map type inspect {{ policy }}
{% for cls in classes %}
 class type inspect {{ cls.name }}
  {{ cls.action }}
{% endfor %}
 class class-default
  pass
